* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: #BAC095;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.transaction-form {
  background-color: #ffffff;
  padding: 30px;
  width: 100%;
  max-width: 420px;
  border-radius: 14px;
  box-shadow: 0 8px 20px rgba(61, 65, 39, 0.2);
}


.transaction-form h2 {
  text-align: center;
  margin-bottom: 22px;
  color: #3D4127;
}

.form-group {
  margin-bottom: 18px;
  display: flex;
  flex-direction: column;
}

.form-group label {
  margin-bottom: 6px;
  font-weight: 600;
  color: #3D4127;
}

.form-group input,
.form-group select {
  padding: 10px 12px;
  border-radius: 8px;
  border: 1px solid #BAC095;
  font-size: 14px;
  background-color: #F9FAF4;
}

.form-group select:focus {
  border-color: #636B2F;
  outline: none;
}

.transaction-form button {
  width: 100%;
  padding: 12px;
  background-color: #636B2F;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  
}

.transaction-form button:hover {
  background-color: #3D4127;
}
